<div class="row"><h1 class="text-center">MD Detailing</h1></div>

<div class="row" ng-controller="HomePageController">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
</div>

<div class="row"><p>Welcome to MD Detailing's website etc.... blah blah blah more and more content yay!!!!!!!!!!!!!</p></div>

<div class="row">slides.size={{slides.length}}. myInterval={{myInterval}}</div>
