<div>
	<div class="row page-header jumbotron section1">

		<div class="col-md-3">
		</div>

		<div class="col-md-6 col-xs-12">
			<h1 class="text-center">{{siteName}}</h1>
		</div>

		<div class="col-md-3">
		</div>
	</div>

	<div class="row section2">

		<div class="col-md-4 col-xs-12">
			<p class="homePage textAreaBorder">
				"My name is Marky Mark, and I'm a weirdo!" - Sarah Sandall
			</p>
		</div>

		<div class="col-md-4 col-xs-12">
			
			<img src="img/House.jpg" class="img-responsive center-block homeTruckImage" alt="Company truck"></img>
			<p class="homePage textAreaBorder">
				Testing
				Testing
				Testing
		
				testing...
			</p>
		</div>

		<div class="col-md-4 col-xs-12">
			<p class="homePage textAreaBorder">
				or more content over here. The HTML codes on this website are provided free of charge, for you to use however you wish. Feel free to modify the code to suit your own needs.
			</p>
		</div>

	</div>
</div>