<!doctype html>
<html lang="en" ng-app="MD Detailing Application">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="img/favicon.ico">
  <title>MD Detailing Inc.</title>
  <!-- Bootstrap -->
  <link href="css/bootstrap-yeti.min.css?d=201402080000" rel="stylesheet">
  <link href="css/social-buttons.css?d=201402080000" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/app.css?d=201402080000"/>

  <nav class="container-fluid navbar navbar-default navbar-fixed-top" role="navigation">

    <div ng-controller="CollapseNavCtrl">

      <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        <a class="navbar-brand" href="#/home">{{siteName}}</a>
      </div>

      <div collapse="isCollapsed" class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="" ng-click="loadHome()">Home</a></li>
          <li><a href="" ng-click="loadAbout()">About</a></li>
          <li><a href="" ng-click="loadTestimonial()">Testimonials</a></li>
          <li><a href="" ng-click="loadGallery()">Gallery</a></li>
          <li><a href="" ng-click="loadContact()">Contact us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="right"><a>{{phoneNumber}}</a></li>
        </ul>
      </div>

    </div>
    
  </nav>

</head>
<body ng-controller="NavCtrl">

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <!-- AngularJS directives for Bootstrap components-->
  <script src="js/vendor/ui-bootstrap-tpls-0.10.0.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>


  <div ng-view class="container-fluid"></div>

  <footer class="footer container-fluid">
    <div class="container">    
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <button class="btn btn-facebook media-button"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
        </div>
        <div class="col-md-4 col-xs-12">
          <button class="btn btn-google-plus media-button"><i class="fa fa-google-plus"></i> | Connect with Google Plus</button>
        </div>
        <div class="col-md-4 col-xs-12">
          <button class="btn btn-twitter media-button"><i class="fa fa-twitter"></i> | Connect with Twitter</button>
        </div>
      </div>
    </div>
  </footer>

  
</body>
</html>
