@import "compass";

/** Let's put a border around the main page and between the hometitle and the body 
border:5px outset #999;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4); */

body {
	background-color: #E0DCBE;
}

.section1 {
} 

.section2 {
  @include background-image(linear-gradient(white, #2879D1));
}

.siteWidth {
	padding-left: 10%;
	padding-right: 10%;
}

/** Home page CSS */
.homeTitle {
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
               0px -5px 35px rgba(255,255,255,0.3);
  margin-bottom: 0px;
}

/**
    Footer CSS
*/
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.media-button {
  width: 100%;
}

.textAreaBorder {
  border:6px ridge #CCCCCC;
}

.topMargin {
  margin-top: 60px;
}

.bottomMargin {
  margin-bottom: 35px;
}